.cv-page-index {
  background: white !important;
}
.cv-page-index header {
  position: relative;
  background: none !important;
  height: 400px;
  overflow: hidden;
}
.cv-page-index header .top-header-bg {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  min-height: 400px;
}
.cv-page-index .content {
  margin: 0;
  padding: 0;
  float: none;
  padding: 0 14%;
  position: relative;
}
.cv-page-index .content .index-dot-decorate {
  position: absolute;
  width: 190px;
  height: 190px;
  z-index: 2;
}
.cv-page-index .content .dot-decorate-1 {
  top: 390px;
  left: -90px;
}
.cv-page-index .content .dot-decorate-2 {
  top: 75px;
  right: -43px;
}
.cv-page-index .content .top-title {
  text-align: center;
  font-size: 40px;
  line-height: 1;
  margin: 55px 0;
  position: relative;
}
.cv-page-index .content .top-title .text-wrap {
  position: relative;
  z-index: 2;
}
.cv-page-index .content .top-title::after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: -8px;
  left: 50%;
  z-index: 1;
  border-radius: 50%;
  background: linear-gradient(270deg, #fdab3e 0%, #fe3546 100%);
  margin-left: 110px;
}
.cv-page-index .content .experience-item {
  font-size: 0;
  min-height: 138px;
  margin-bottom: 32px;
  position: relative;
  z-index: 3;
}
.cv-page-index .content .experience-item .item-tip {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  font-size: 32px;
  line-height: 1.3;
  color: #aaafb5;
  padding-right: 45px;
  transform: scaleY(1.2);
  font-weight: 300;
}
.cv-page-index .content .experience-item .item-list {
  border-left: solid 1px #d8d8d8;
  padding-left: 30px;
  margin: 0;
  color: #222;
  display: inline-block;
  width: calc(100% - 125px - 246px - 30px);
  font-size: 16px;
}
.cv-page-index .content .experience-item .item-list li {
  background: none;
  padding: 0 0 0 16px;
  line-height: 1.5;
  position: relative;
  margin-bottom: 16px;
}
.cv-page-index .content .experience-item .item-list li::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: linear-gradient(270deg, #fdab3e 0%, #fe3546 100%);
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 8px;
}
.cv-page-index .content .experience-item .item-relative-imgs {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
}
.cv-page-index .content .experience-item .item-relative-imgs img {
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 20px;
}
.cv-page-index .common-footer {
  background: rgba(239, 240, 244, 0.73);
}
.cv-page-index #site_content {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
