@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #B1D7E0;
  color: #333;
  font-family: 'Georgia', sans-serif;
}

a, 
a:link,
a:visited {
  text-decoration: none;
  color: #065388;
}

a:hover {
  color: #990000;
}

img {
  border:  none;
}

#container {
  margin: auto;
  width: 960px;
  background-color: #C8D9E1;
  font-size: 14px;
  overflow: hidden;
  box-shadow: 0 0 10px #41AAC4;
}

#wrapper {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
  overflow: hidden;
}

#banner {
  margin: 0;
  position: relative;
  color: #fff;
  background-color: #fff;
  height: 320px;
  background-image: url(../images/ubersee.jpg);
}

#name {
  position: absolute;
  top: 85px;
  left: 0px;
  float: left;
  /*background-image: url(../images/45-degree-fabric-light.png);*/
  padding-bottom: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#name h1 {
  margin: 0;
  padding: 10px;
  font-size: 32px;
  font-weight: normal;
}

#name p {
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 16px;
}

#nav {
  overflow: hidden;
  width: 960px;
  background-color: #AFD5DE;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  position: relative;
}

#nav ul li {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}

#nav ul li a {
  margin: 0 0 0 1px;
  padding: 0px 15px;
  display: block;
  color: #333;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
}

#nav ul li a:hover {
  color: #ffffff;
}

#page {
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  background-color: #eee;
  overflow: auto;
  clear: both;
}

#content {
  margin: 0 25px;
  line-height: 140%;
}

#sidebar {
  border: 1px solid #e5e5e5;
  margin: 0 0 0 25px;
  min-width: 200px;
  float: right;
  line-height: 180%;
  background-color: #ddd;
}

#sidebar h3, #sidebar p {
  padding: 0 10px;
}

#sidebar_mod {
  border: 1px solid #e5e5e5;
  margin: 0 0 0 25px;
  min-width: 200px;
  float: right;
  line-height: 180%;
  background-color: #eee;
}

#sidebar_mod2 {
  border: 1px solid #e5e5e5;
  margin: 0 0 0 25px;
  min-width: 340px;
  float: right;
  line-height: 180%;
  background-color: #eee;
}



#sidebar_mod h3, #sideba_modr p {
  padding: 0 10px;
}

#footer {
  padding: 6px;
  overflow: auto;
  color: #6498A3;
  font-size: 80%;
  line-height: 140%;
  text-align: right;
}

#footer img {
  float: left;
  margin-right: 26px;
}

h2 {
  margin-top: 0;
  color: #494949;
  font-weight: normal;
  font-size: 200%;
}
h3_mod{
  margin-top: 0;
  color: #494949;
  font-weight: normal;
  font-size: 200%;
}
.right {
  margin: 0 0 15px 15px;
  float: right;
}

.left {
  margin: 0 15px 15px 0;
  float: left;
}

#contentbar {
  margin: 0 25px 0 0px;
  width: 210px;
  float: left;
  line-height: 140%;
  background-color: #fff;
}

#contentbar h3, #contentbar p {
  padding: 0 10px;
}

#contentbar_mod {
  margin: 0 35px 0 0px;
  width: 290px;
  float: left;
  line-height: 160%;
  background-color: #ddd;
}


#fac_photo {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* .contentbar1 {display:none}  */
/* .contentbar2 {display:none}  */
/* .contentbar3 {display:none}  */
/* .contentbar4 {display:none}  */
/* .contentbar5 {display:none}  */
